.audilogo{
    height: 60px;
    width: 60px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .top-left {
    position: absolute;
    top: 8px;
    text
    } 
  .audicars{
    width: 100%;
  }